<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuesheng.pm.mapper.DatabaseVersionMapper">



    <update id="execSql">
        ${sql}
    </update>

    <select id="queryNowVersionDate" resultType="String">
        select update_date from pro_version order by update_date desc
    </select>
    <select id="queryNowVersion" resultType="String">
        select name from pro_version order by update_date desc,name desc
    </select>

</mapper>