<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuesheng.pm.mapper.ProEnquiryMaterMapper">
    <resultMap id="enquiryMater" type="com.yuesheng.pm.entity.ProEnquiryMater">
        <id column="id" property="id" jdbcType="VARCHAR"></id>
        <result column="enquiry_id" property="enquiryId" jdbcType="VARCHAR"></result>
        <result column="mater_id" property="materId" jdbcType="VARCHAR"></result>
        <result column="date" property="date" jdbcType="TIMESTAMP"></result>
        <result column="last_date" property="lastDate" jdbcType="TIMESTAMP"></result>
        <result column="apply_id" property="applyId" jdbcType="VARCHAR"></result>
        <result column="apply_mater_id" property="applyMaterialId" jdbcType="VARCHAR"></result>
        <result column="num" property="num" jdbcType="DECIMAL"></result>
        <result column="price" property="price" jdbcType="DECIMAL"></result>
        <result column="remark" property="remark" jdbcType="VARCHAR"></result>
        <association property="material" column="mater_id"
                     select="com.yuesheng.pm.mapper.MaterialMapper.getMaterialByid"></association>
    </resultMap>
    <insert id="insert">
        INSERT INTO pro_enquiry_material (id,enquiry_id,mater_id,date,last_date,apply_id,apply_mater_id,num,price,remark)
        values(#{id},#{enquiryId},#{materId},#{date},#{lastDate},#{applyId},#{applyMaterialId},#{num},#{price},#{remark});
    </insert>
    <update id="updateLastDate">
        UPDATE pro_enquiry_material set last_date=#{date} where id=#{id};
    </update>
    <select id="queryList" resultMap="enquiryMater">
        SELECT * FROM pro_enquiry_material AS a
        LEFT JOIN sdpm002 AS b ON a.mater_id=b.pm00201
        <where>
            <if test="applyId != null">
                and apply_id=#{apply}
            </if>
            <if test="enquiryId != null">
                and enquiry_id=#{enquiryId}
            </if>
            <if test="str != null">
                and a.sum+a.price+b.pm00202+b.pm00205+a.remark+pm00221 LIKE '%'+#{str}+'%'
            </if>
        </where>
        ${order}
    </select>
    <select id="queryById" resultMap="enquiryMater">
        SELECT * FROM  pro_enquiry_material WHERE id=#{id};
    </select>
</mapper>