<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuesheng.pm.mapper.ProPutDetailMapper">
    <resultMap id="proPutDetail" type="com.yuesheng.pm.entity.ProPutForDetail">
        <id column="id" property="id" jdbcType="VARCHAR"></id>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"></result>
        <result column="pro_date" property="proDate" jdbcType="VARCHAR"></result>
        <result column="put_date" property="putDate" jdbcType="VARCHAR"></result>
        <result column="pro_money" property="proMoney" jdbcType="DECIMAL"></result>
        <result column="put_money" property="putMoney" jdbcType="DECIMAL"></result>
        <result column="date" property="date" jdbcType="VARCHAR"></result>
        <result column="last_date" property="lastDate" jdbcType="VARCHAR"></result>
        <result column="remark" property="remark" jdbcType="VARCHAR"></result>
        <result column="pro_id" property="proId" jdbcType="VARCHAR"></result>
        <result column="put_id" property="putId" jdbcType="VARCHAR"></result>
        <result column="pro_detail_id" property="mainId" jdbcType="VARCHAR"></result>
        <association property="project" javaType="com.yuesheng.pm.entity.Project">
            <id column="project_id" property="id" jdbcType="VARCHAR"></id>
            <result column="project_name" property="name" jdbcType="VARCHAR"></result>
        </association>
        <association property="staff" column="staff" select="com.yuesheng.pm.mapper.StaffMapper.getStaffById"></association>
    </resultMap>
    <select id="getBySeries" resultMap="proPutDetail">
        select * from pro_detail_c where pro_detail_id=#{mainId} and pro_date=#{proDate}
    </select>
    <delete id="deleteBySeries">
        delete from pro_detail_c where pro_detail_id=#{mainId} and pro_date=#{proDate}
    </delete>
    <select id="getDetailByMain" resultMap="proPutDetail">
        select * from pro_detail_c where pro_detail_id=#{proDetailId} and project_id=#{projectId} order by date desc
    </select>
    <select id="getProDetailByProId" resultMap="proPutDetail">
        select * from pro_detail_c where pro_id=#{proId}
         <if test="detailId != null">
             and pro_detail_id=#{detailId}
         </if>
    </select>
    <insert id="addDetail">
        INSERT INTO pro_detail_c (id,pro_detail_id,project_id,project_name,pro_date,pro_money,staff,date,pro_id,put_id,remark,put_date,put_money)
        VALUES (#{id},#{mainId},#{project.id},#{project.name},#{proDate},#{proMoney},#{staff.id},#{date},#{proId},#{putId},#{remark},#{putDate},#{putMoney})
    </insert>
    <update id="updateDetail">
        UPDATE pro_detail_c SET project_id=#{project.id},project_name=#{project.name},pro_date=#{proDate},pro_money=#{proMoney},
        put_date=#{putDate},put_money=#{putMoney},remark=#{remark} WHERE id=#{id}
    </update>
    <update id="updateProMoney">
        UPDATE pro_detail_c SET pro_money=#{proMoney},pro_date=#{proDate}
        <if test="putId != null">
            ,put_id=#{putId}
        </if>
        WHERE id=#{id}
    </update>
    <update id="updatePutMoney">
        UPDATE pro_detail_c SET put_money=#{putMoney},put_date=#{putDate} WHERE id=#{id}
    </update>
    <update id="updateProject">
        UPDATE pro_detail_c SET project_id=#{project.id},project_name=#{projectName} WHERE id=#{id}
    </update>
    <update id="updateLastMsg">
        UPDATE pro_detail_c SET last_date=#{lastDate},last_staff=#{lastStaff.id} WHERE id=#{id}
    </update>
    <update id="updateRemark">
        UPDATE pro_detail_c SET remark=#{remark},last_staff=#{lastStaff.id} WHERE id=#{id}
    </update>
    <delete id="deleteDetail">
        DELETE FROM pro_detail_c WHERE id=#{id}
    </delete>
    <delete id="deleteDetailForMain">
        DELETE FROM pro_detail_c WHERE pro_detail_id=#{mainId}
    </delete>
    <select id="getDetail" resultMap="proPutDetail">
        SELECT * FROM pro_detail_c WHERE id=#{id}
    </select>
    <select id="getDetailListByMain" resultMap="proPutDetail">
        SELECT * FROM pro_detail_c WHERE pro_detail_id=#{mainId} ORDER BY date ASC
    </select>
    <select id="getDetailByDate" resultMap="proPutDetail">
        SELECT * FROM pro_detail_c WHERE pro_detail_id=#{mainId}
        <if test="start != null">
            AND date BETWEEN #{start} AND #{end}
        </if>
        ORDER BY date ASC
    </select>
    <select id="getProMoneySumByMain" resultType="java.lang.Double">
        SELECT SUM(pro_money) FROM pro_detail_c WHERE pro_detail_id=#{mainId}
    </select>
    <select id="getProMoneySumByMainDate" resultType="java.lang.Double">
        SELECT SUM(pro_money) FROM pro_detail_c WHERE pro_detail_id=#{mainId} and pro_date &lt;= #{endTime}
    </select>
    <select id="getPutMoneySumByMain" resultType="java.lang.Double">
        SELECT SUM(put_money) FROM pro_detail_c WHERE pro_detail_id=#{mainId}
    </select>
    <select id="getMoneySumByMain" resultType="java.util.Map">
        SELECT SUM(pro_money) AS 'pro_money',SUM(put_money) AS 'put_money' FROM pro_detail_c WHERE pro_detail_id=#{mainId}
    </select>

    <select id="getProMoneyByDate" resultType="java.lang.Double">
        <choose>
            <when test="type == 0">
                select SUM(pro_money) from (select a.pro_date,a.pro_money from pro_detail_c as a
                right join pro_detail as b on pro_detail_id=b.id and b.id is not null) pro_detail
                where isnull(pro_date,'') BETWEEN #{start} AND dateadd(dd,1,#{end})
            </when>
            <otherwise>
                select SUM(put_money) from (select a.put_date,a.put_money from pro_detail_c as a
                right join pro_detail as b on pro_detail_id=b.id and b.id is not null) pro_detail
                where isnull(put_date,'') BETWEEN #{start} AND dateadd(dd,1,#{end})
            </otherwise>
        </choose>
    </select>
    <select id="getProMoneyByDate" resultType="java.lang.Double" databaseId="mysql">
        <choose>
            <when test="type == 0">
                select SUM(pro_money) from (select a.pro_date,a.pro_money from pro_detail_c as a
                right join pro_detail as b on pro_detail_id=b.id and b.id is not null) pro_detail
                where ifnull(pro_date,'') BETWEEN #{start} AND #{end}
            </when>
            <otherwise>
                select SUM(put_money) from (select a.put_date,a.put_money from pro_detail_c as a
                right join pro_detail as b on pro_detail_id=b.id and b.id is not null) pro_detail
                where ifnull(put_date,'') BETWEEN #{start} AND #{end}
            </otherwise>
        </choose>
    </select>

    <!--采购部-采购付款明细与到票情况登记信息-->
    <resultMap id="detailDp" type="com.yuesheng.pm.entity.ProDetailDP">
        <id column="id" property="id" jdbcType="VARCHAR"></id>
        <result column="pro_detail_id" property="proDetailId" jdbcType="VARCHAR"></result>
        <result column="pay_date" property="payDate" jdbcType="VARCHAR"></result>
        <result column="dp_date" property="dpDate" jdbcType="VARCHAR"></result>
        <result column="dp_money" property="dpMoney" jdbcType="DECIMAL"></result>
        <result column="pay_money" property="payMoney" jdbcType="DECIMAL"></result>
        <result column="remark" property="remark" jdbcType="VARCHAR"></result>

    </resultMap>
    <select id="getDpByParam" resultMap="detailDp">
        select * from pro_detail_dp as dp
        LEFT JOIN pro_detail_c as ppd on dp.pro_detail_id=ppd.id
        LEFT JOIN pro_detail as pd on ppd.pro_detail_id=pd.id
        <where>
            <if test="date != null">
                and dp.dp_date LIKE #{date}+'%'
            </if>
            <if test="project != null">
                and ppd.project_name LIKE '%'+#{project}+'%'
            </if>
            <if test="companyName != null">
                and pd.company_name LIKE '%'+#{companyName}+'%'
            </if>
        </where>

    </select>
    <select id="getDpByParam" resultMap="detailDp" databaseId="mysql">
        select * from pro_detail_dp as dp
        LEFT JOIN pro_detail_c as ppd on dp.pro_detail_id=ppd.id
        LEFT JOIN pro_detail as pd on ppd.pro_detail_id=pd.id
        <where>
            <if test="date != null">
                and dp.dp_date LIKE concat(#{date},'%')
            </if>
            <if test="project != null">
                and ppd.project_name LIKE concat('%',#{project},'%')
            </if>
            <if test="companyName != null">
                and pd.company_name LIKE concat('%',#{companyName},'%')
            </if>
        </where>

    </select>
    <select id="getDpCount" resultType="Integer">
        select COUNT(dp.id) from pro_detail_dp as dp
        LEFT JOIN pro_detail_c as ppd on dp.pro_detail_id=ppd.id
        LEFT JOIN pro_detail as pd on ppd.pro_detail_id=pd.id
        <where>
            <if test="date != null">
                and dp.dp_date LIKE #{date}+'%'
            </if>
            <if test="project != null">
                and ppd.project_name LIKE '%'+#{project}+'%'
            </if>
            <if test="companyName != null">
                and pd.company_name LIKE '%'+#{companyName}+'%'
            </if>
        </where>
    </select>
    <select id="getDpCount" resultType="Integer" databaseId="mysql">
        select COUNT(dp.id) from pro_detail_dp as dp
        LEFT JOIN pro_detail_c as ppd on dp.pro_detail_id=ppd.id
        LEFT JOIN pro_detail as pd on ppd.pro_detail_id=pd.id
        <where>
            <if test="date != null">
                and dp.dp_date LIKE concat(#{date},'%')
            </if>
            <if test="project != null">
                and ppd.project_name LIKE concat('%',#{project},'%')
            </if>
            <if test="companyName != null">
                and pd.company_name LIKE concat('%',#{companyName},'%')
            </if>
        </where>
    </select>
    <insert id="insertProDetailDp">
        insert into pro_detail_dp (id,pro_detail_id,pay_money,pay_date,dp_money,dp_date,remark) values(#{id},#{proDetailId},#{payMoney},#{payDate},#{dpMoney},#{dpDate},#{remark})
    </insert>
    <update id="updateProDetailDp">
        UPDATE pro_detail_dp SET pay_money=#{payMoney},pay_date=#{payDate},dp_date=#{dpDate},dp_money=#{dpMoney},remark=#{remark} where id=#{id}
    </update>
    <select id="getDetailDp" resultMap="detailDp">
        SELECT * FROM pro_detail_dp WHERE pro_detail_id=#{proDetailId}
    </select>
    <select id="getMoneyByPayAndDp" resultType="java.util.Map">
        SELECT SUM(pay_money) as payMoneys,SUM(dp_money) as dpMoneys FROM
        pro_detail_dp where pro_detail_id=#{proDetailId}
    </select>
    <select id="getProDetailDp" resultMap="detailDp">
        SELECT * FROM pro_detail_dp where id=#{id}
    </select>
    <delete id="deleteByProId">
        delete from pro_detail_c where pro_id=#{proId}
    </delete>
    <delete id="deleteByPutId">
        delete from pro_detail_c where put_id=#{putId}
    </delete>
    <select id="getProDetailByPutId" resultMap="proPutDetail">
        select * from pro_detail_c where put_id=#{putId}
    </select>

    <select id="getByContractDetailId" resultMap="proPutDetail">
        select * from pro_detail_c where pro_detail_id=#{contractId}
        <if test="detailId != null">
            and put_id=#{detailId}
        </if>
    </select>
    <delete id="deleteByContractDetailId">
        delete from pro_detail_c where pro_detail_id=#{contractId} and put_id=#{detailId}
    </delete>
    <delete id="deleteByContract">
        delete from pro_detail_c where pro_detail_id=#{contractId}
    </delete>
    <select id="getDetailAll" resultMap="proPutDetail">
        select dc.* from pro_detail_c as dc
        left join pro_zujin as zj on dc.pro_detail_id=zj.id
        <where>
            <if test="searchText != null and searchText != ''">
                and isnull(dc.remark,'')+isnull(zj.company,'')+isnull(zj.brand,'') like '%'+#{searchText}+'%'
            </if>
            <if test="type != null and type == 0">
                and dc.pro_money is not null and dc.pro_money &gt; 0
                <if test="startDate != null and endDate != null">
                    and dc.pro_date between #{startDate} and #{endDate}
                </if>
            </if>
            <if test="type != null and type == 1">
                and dc.put_money is not null and dc.put_money &gt; 0
                <if test="startDate != null and endDate != null">
                    and dc.put_date between #{startDate} and #{endDate}
                </if>
            </if>
            <if test="type == null and startDate != null and endDate != null">
                and dc.pro_date between #{startDate} and #{endDate}
            </if>
            <if test="contractType != null">
                and zj.type = #{contractType}
            </if>
        </where>
    </select>
    <select id="getDetailAll" resultMap="proPutDetail" databaseId="mysql">
        select dc.* from pro_detail_c as dc
        left join pro_zujin as zj on dc.pro_detail_id=zj.id
        <where>
            <if test="searchText != null and searchText != ''">
                and concat(ifnull(dc.remark,''),ifnull(zj.company,''),ifnull(zj.brand,'')) like concat('%',#{searchText},'%')
            </if>
            <if test="type != null and type == 0">
                and dc.pro_money is not null and dc.pro_money &gt; 0
                <if test="startDate != null and endDate != null">
                    and dc.pro_date between #{startDate} and #{endDate}
                </if>
            </if>
            <if test="type != null and type == 1">
                and dc.put_money is not null and dc.put_money &gt; 0
                <if test="startDate != null and endDate != null">
                    and dc.put_date between #{startDate} and #{endDate}
                </if>
            </if>
            <if test="type == null and startDate != null and endDate != null">
                and dc.pro_date between #{startDate} and #{endDate}
            </if>
            <if test="contractType != null">
                and zj.type = #{contractType}
            </if>
        </where>
    </select>
    <select id="getDetailCount" resultType="com.yuesheng.pm.model.ProPutDetailCount">
        select sum(dc.pro_money) as proMoney, sum(dc.put_money) as putMoney from pro_detail_c as dc
        left join pro_zujin as zj on dc.pro_detail_id=zj.id
        <where>
            <if test="searchText != null and searchText != ''">
                and isnull(dc.remark,'')+isnull(zj.company,'')+isnull(zj.brand,'') like '%'+#{searchText}+'%'
            </if>
            <if test="type != null and type == 0">
                and dc.pro_money is not null and dc.pro_money &gt; 0
                <if test="startDate != null and endDate != null">
                    and dc.pro_date between #{startDate} and #{endDate}
                </if>
            </if>
            <if test="type != null and type == 1">
                and dc.put_money is not null and dc.put_money &gt; 0
                <if test="startDate != null and endDate != null">
                    and dc.put_date between #{startDate} and #{endDate}
                </if>
            </if>

            <if test="type == null and startDate != null and endDate != null">
                and dc.pro_date between #{startDate} and #{endDate}
            </if>
            <if test="contractType != null">
                and zj.type = #{contractType}
            </if>
        </where>
    </select>
    <select id="getDetailCount" resultType="com.yuesheng.pm.model.ProPutDetailCount" databaseId="mysql">
        select sum(dc.pro_money) as proMoney, sum(dc.put_money) as putMoney from pro_detail_c as dc
        left join pro_zujin as zj on dc.pro_detail_id=zj.id
        <where>
            <if test="searchText != null and searchText != ''">
                and concat(ifnull(dc.remark,''),ifnull(zj.company,''),ifnull(zj.brand,'')) like concat('%',#{searchText},'%')
            </if>
            <if test="type != null and type == 0">
                and dc.pro_money is not null and dc.pro_money &gt; 0
                <if test="startDate != null and endDate != null">
                    and dc.pro_date between #{startDate} and #{endDate}
                </if>
            </if>
            <if test="type != null and type == 1">
                and dc.put_money is not null and dc.put_money &gt; 0
                <if test="startDate != null and endDate != null">
                    and dc.put_date between #{startDate} and #{endDate}
                </if>
            </if>

            <if test="type == null and startDate != null and endDate != null">
                and dc.pro_date between #{startDate} and #{endDate}
            </if>
            <if test="contractType != null">
                and zj.type = #{contractType}
            </if>
        </where>
    </select>
    <select id="getProMoneySum" resultType="Double">
        select SUM(pro_money) from pro_detail_c
        where pro_date like #{year}+'%'
    </select>
    <select id="getProMoneySum" resultType="Double" databaseId="mysql">
        select SUM(pro_money) from pro_detail_c
        where pro_date like concat(#{year},'%')
    </select>
    <select id="getPutMoneySum" resultType="Double">
        select SUM(put_money) from pro_detail_c
        where put_date like #{year}+'%'
    </select>
    <select id="getPutMoneySum" resultType="Double" databaseId="mysql">
        select SUM(put_money) from pro_detail_c
        where put_date like concat(#{year},'%')
    </select>
</mapper>