<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuesheng.pm.mapper.SystemConfigMapper">

    <resultMap type="com.yuesheng.pm.entity.SystemConfig" id="SystemConfigMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="coding" column="coding" jdbcType="VARCHAR"/>
        <result property="parent" column="parent" jdbcType="INTEGER"/>
        <result property="value" column="value" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SystemConfigMap">
        select
          id, name, remark, coding,parent,value
        from system_config
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SystemConfigMap">
        select
          id, name, remark, coding,parent,value
        from system_config
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SystemConfigMap">
        select
        id, name, remark, coding,parent,value
        from system_config
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and isNull(name,'')+isnull(remark,'')+isnull(coding,'') like '%'+#{name}+'%'
            </if>
            <if test="coding != null and coding != ''">
                and coding = #{coding}
            </if>
            <if test="parent != null and parent == -1">
                and parent is null
            </if>
            <if test="parent != null and parent != -1">
                and parent = #{parent}
            </if>
            <if test="value != null">
                and value = #{value}
            </if>
        </where>
    </select>
    <select id="queryAll" resultMap="SystemConfigMap" databaseId="mysql">
        select
        id, name, remark, coding,parent,value
        from system_config
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and concat(ifnull(name,'')+ifnull(remark,'')+ifnull(coding,'')) like concat('%',#{name},'%')
            </if>
            <if test="coding != null and coding != ''">
                and coding = #{coding}
            </if>
            <if test="parent != null and parent == -1">
                and parent is null
            </if>
            <if test="parent != null and parent != -1">
                and parent = #{parent}
            </if>
            <if test="value != null">
                and value = #{value}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into system_config(name, remark, coding,parent,value)
        values (#{name}, #{remark}, #{coding},#{parent},#{value})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update system_config
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="coding != null and coding != ''">
                coding = #{coding},
            </if>
            <if test="parent != null">
                parent = #{parent},
            </if>
            <if test="value != null">
                value = #{value},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from system_config where id = #{id}
    </delete>

    <!--通过主键删除-->
    <delete id="deleteByParent">
        delete from system_config where parent = #{parent}
    </delete>

</mapper>